* {
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  background-image: url("images/triangles-white-blue.svg");
  /* background-image: url("images/triangles-white.svg"); */
  /* background-image: url("images/triangles-orange.svg"); */
  /* background-image: url("images/triangles.svg"); */
  /* background-image: url("images/circles.svg"); */
  /* background-image: url("images/blueprint.svg"); */
  /* background-image: url("images/honeycomb.svg"); */
  /* background-size: cover; */
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
a {
  text-decoration: none;
}

.content-container {
	margin: 0 auto;
  width: 1200px;
  padding: 0 30px;
}
.clear-after:after {
  content: '';
  display: block;
  clear: both;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}

.grey-blue-link:link, .grey-blue-link:visited {
  color: #666666;
}
.grey-blue-link:hover, .grey-blue-link:active {
  color: #0074D9;
}

header {
  background-color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-title {
  font-size: 34px;
  line-height: 36px;
  font-weight: lighter;
}
.header-links {
  display: flex;
}
.header-link {
  font-size: 20px;
  line-height: 22px;
}
.header-links .first {
  padding-right: 30px;
}

#items {
  padding-top: 30px;
  padding-bottom: 70px;

  -webkit-column-count: 3;
  -webkit-column-gap:   30px;
  -moz-column-count:    3;
  -moz-column-gap:      30px;
  column-count:         3;
  column-gap:           30px;
}
.item {
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}
.item-title {
  font-size: 22px;
  line-height: 25px;
  padding-bottom: 2px;
  font-weight: bold;
}
.item-tags {
  padding-bottom: 12px;
  color: #666666;
  font-weight: lighter;
}
.item-image {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid grey;
  display: block;
}
.item-text {
  padding-bottom: 2px;
  font-weight: lighter;
  line-height: 22px;
}
.item-link {
  float: left;
  border-radius: 4px;
  color: white;
  background-color: #0074D9;
  font-size: 15px;
  line-height: 18px;
  padding: 4px 8px;
  margin: 8px 8px 0 0;
}

@media only screen and (max-width: 1199px) {
	.content-container {
		width: 1000px;
  }
  #items {
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
}

@media only screen and (max-width: 1019px) {
	.content-container {
		width: 100%;
  }
}

@media only screen and (max-width: 599px) {
  #items {
    -webkit-column-count: 1;
    -moz-column-count:    1;
    column-count:         1;
  }
}

@media only screen and (max-width: 479px) {
  .header-container {
    flex-direction: column;
  }
  .header-title {
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .header-links {
    width: 100%;
    justify-content: space-between;
  }
}